input {
    color: white !important;
}
.a-profile {
    margin-top: 14px;
    cursor: pointer;
}
.a-align {
    margin-left: -26px;
}
@media (min-width: 768px) {
    .mat-align {
        width: 98%;
    }
    .a-align {
        margin-left: -28px;
    }
}
@media (max-width: 768px) {
    .mat-align {
        width: 100%;
    }
    .a-align {
        margin-left: -18px;
    }
}