<mat-dialog-content>
  <!-- <button mat-button mat-dialog-close class="close m-r-1" aria-hidden="true">
    <i class="material-icons">close</i>
  </button> -->
  <div class="modal-fade" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-login">
      <div class="modal-content modal-body card-wizard" data-color="sborange">
        <div class="row">
        </div>
        <div class="modal-body">
          <div class="form-group bmd-form-group is-filled">
            <div class="row">
              <div class="col-11 col-sm-9 col-lg-9 ml-auto mr-auto">
                <ng-template #target></ng-template>
              </div>
            </div>
          </div>
        </div>
        <div class="modal-footer">
        </div>
      </div>
    </div>
  </div>
</mat-dialog-content>
