<a class="nav-link" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">
  <i></i>
  <img class="flag_language" src="assets/icon/round_flag/{{getLanguageFlag()}}.png" alt="" />
</a>
<ul class="dropdown-menu custom-drop-menu dropdown-menu-right custom-langulage" role="menu">
  <li><a class="text-white" [routerLink]="" (click)="useLanguage('en')">{{ 'LANGUAGE.ENG' | translate }}</a></li>
  <li><a class="text-white" [routerLink]="" (click)="useLanguage('it')">{{ 'LANGUAGE.ITA' | translate }} </a></li>
  <li><a class="text-white" [routerLink]="" (click)="useLanguage('es')">{{ 'LANGUAGE.ESP' | translate }}</a></li>
  <li><a class="text-white" [routerLink]="" (click)="useLanguage('fr')">{{ 'LANGUAGE.FRA' | translate }}</a></li>
  <li><a class="text-white" [routerLink]="" (click)="useLanguage('de')">{{ 'LANGUAGE.GER' | translate }}</a></li>
  <li><a class="text-white" [routerLink]="" (click)="useLanguage('us')">{{ 'LANGUAGE.USA' | translate }}</a></li>
  <li><a class="text-white" [routerLink]="" (click)="useLanguage('ch')">{{ 'LANGUAGE.CHN' | translate }}</a></li>
  <li><a class="text-white" [routerLink]="" (click)="useLanguage('ar')">{{ 'LANGUAGE.SAU' | translate }}</a></li>
  <li><a class="text-white" [routerLink]="" (click)="useLanguage('po')">{{ 'LANGUAGE.POR' | translate }}</a></li>
  <li><a class="text-white" [routerLink]="" (click)="useLanguage('in')">{{ 'LANGUAGE.IND' | translate }}</a></li>
  <li><a class="text-white" [routerLink]="" (click)="useLanguage('ru')">{{ 'LANGUAGE.RUS' | translate }}</a></li>
  <li><a class="text-white" [routerLink]="" (click)="useLanguage('jp')">{{ 'LANGUAGE.JPN' | translate }}</a></li>
</ul>
