<div class="wrapper" id="DashboardID">
    <!-- <div class="sidebar" data-color="sborange" data-background-color="sboil" data-image="./assets/img/sidebar-1.jpg">
        <app-sidebar-cmp></app-sidebar-cmp>
        <div class="sidebar-background" style="background-image: url(assets/img/sidebar-1.jpg)"></div>
    </div> -->
    <div class="for-sidebar">
        <app-sidebar-cmp></app-sidebar-cmp>
    </div>
    <div class="bg-transparent  menubar" id="menubar">
        <app-menubar></app-menubar>
    </div>
    <div class="main-panel">
        <!-- <app-navbar-cmp></app-navbar-cmp> -->
        <router-outlet></router-outlet>
        <div *ngIf="!isMap()">
            <app-footer-cmp></app-footer-cmp>
        </div>
    </div>
</div>
<!-- <ngx-loading class="loading-custom" [show]="loading" [config]="{ backdropBorderRadius: '3px' }" [template]="customLoadingTemplate"></ngx-loading> -->

