<div data-ui-view ng-controller="CoreController as ctrl" class="sb-content container">


  <!-- commento bottoni funzionanti d esempio routing
  <button type="button" class="btn" ng-click="ctrl.prova()">Prova</button>
  <button type="button" class="btn" ng-click="ctrl.prova2()">Prova2</button>

  <a data-ui-sref="hello" ui-sref-active="active">Hello</a>
  <a data-ui-sref="world" ui-sref-active="active">World</a>

  -->

  <div class="row">
    <div class="col-lg-10">
      <app-sport-overview></app-sport-overview>
    </div>
    <div class="col-lg-2 border">
      <app-results-overview></app-results-overview>
    </div>
  </div>
  <div class="row">
    <div class="col-lg-12 border">
      <app-news></app-news>
    </div>
  </div>

</div>
