<mat-card-content>
  <div class="profile-form mb-5">
    <div class="row profile-content">
      <div class="col-12">
        <form [formGroup]="profileForm" class="form-group bmd-form-group is-filled" novalidate>
          <div class="row content-center">
            <div class="form-group form-group-lg col-md-10 d-flex">
              <div class="w-100 row">
                <div class="col-md-10 col-12">
                  <input matInput formControlName="Password" type="password" class="form-control log-text" name="Password"
                         placeholder="Password" required>
                  <mat-error *ngIf="getFormControl.Password.hasError('required')">
                    Password is required
                  </mat-error>
                  <mat-error *ngIf="!getFormControl.Password.hasError('required') && getFormControl.Password.hasError('pattern')">
                    At least 8 characters, at least one uppercase letter and one number.
                  </mat-error>
                </div>
              </div>
            </div>
            <div class="form-group form-group-lg col-md-10 d-flex">
              <div class="w-100 row">
                <div class="col-md-10 col-12">
                  <input matInput formControlName="ConfirmPassword" type="password" class="form-control log-text" name="ConfirmPassword"
                         placeholder="Retype your password" required>
                  <mat-error *ngIf="!getFormControl.ConfirmPassword.hasError('required') && getFormControl.ConfirmPassword.hasError('mustMatch')">
                    Password Mismatch
                  </mat-error>
                  <mat-error *ngIf="getFormControl.ConfirmPassword.hasError('required')">
                    Confirm Password is required
                  </mat-error>
                </div>
              </div>
            </div>
            <mat-card-actions class="d-flex">
              <button mat-raised-button (click)="gotodashboard()"
                      class="log-height btn btn-block btn-lg btn-primary m-t-2 m-r-3">Cancel</button>
              <button mat-raised-button (click)="reset()"
                      class="log-height btn btn-block btn-lg btn-primary m-t-2">Confirm</button>
            </mat-card-actions>
          </div>
        </form>
      </div>
    </div>
  </div>
</mat-card-content>
