<mat-card-content>
  <div class="row">
    <div class="col-12">
      <form [formGroup]="forgotForm" class="form-group bmd-form-group is-filled" (ngSubmit)="reset()" novalidate>
        <h3 class="text-center text-white mb-3">Forgot Password?</h3>
        <div class="form-group form-group-lg mt-5 forgot-form">
          <mat-form-field class="w-100">
            <input matInput formControlName="Email" type="email" class="form-control log-text" name="email"
              placeholder="Email" required>
            <mat-error *ngIf="formValid.Email.hasError('required')">
              Email is required
            </mat-error>            
            <mat-error *ngIf="formValid.Email.hasError('email')">
              Email type is wrong
            </mat-error>
          </mat-form-field>
        </div>
      </form>
    </div>
  </div>
</mat-card-content>
<mat-card-actions>
  <button mat-raised-button (click)="reset()"
    class="forgot-button log-height btn btn-block btn-lg btn-primary m-t-2">Reset Password</button>
</mat-card-actions>
<mat-spinner [style.display]="showSpinner ? 'block' : 'none'"></mat-spinner>